/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-black-color);
  color: var(--bg-white-color);
}

:root{
    --bg-black-color : #0d0d0d;
    --bg-white-color : #f0f0f0;
}

main,section{
    height: 100%;
    width: 100%;
}
section{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section .info{
  padding: 20px;
  border:  1px solid #333333;
  border-radius: 10px;
}

.board{
  border:  1px solid #333333;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill,30px);
  grid-template-rows: repeat(auto-fill,30px);
}


.block{
  width:30px ;
  height: 30px;
  border: 1px solid #333333;
}